
.main {
    display: flex;
    width: 100%;
}

/* START MANAGER  */
.main .manager {
    width: 16%;
    background-color: var(--color-manager);
    height: 100vh;
    position: fixed;
}

.main .manager .hello-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;

    /* thêm */
    overflow: hidden; 
    /* Giữ cho text không bị tràn ra ngoài container */
    position: relative;
    /* Cần thiết cho animation */
    width: 100%;
    /* Đặt chiều rộng của container */

}

.main .manager .hello-admin h1 {
    color: var(--white);
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;

    /* thêm */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    /* Loại bỏ margin mặc định */

    /* Tạo animation chạy ngang */
    animation: hello-admin 8s linear infinite;
}
/* thêm  */
@keyframes hello-admin {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }
/* thêm */
.main .manager .hello-admin img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.main .manager .menu {
    background-color: #2f3d46;
}

.main .manager .menu li {
    padding: 15px;
    border-top: 0.1px solid var(--color-manager);
    cursor: pointer;
}

.main .manager .menu li:nth-last-child() {
    border-bottom: 0.1px solid var(--color-manager);

}

.main .manager .menu li:hover {
    background-color: var(--color-manager);
}

.main .manager .menu li a {
    color: var(--white);
    font-size: 16px;
}

.main .manager .menu li a i {
    margin-right: 10px;
}

.main .manager .log_out {
    position: absolute;
    bottom: 8vh;
    left: 50%;
    /* Đặt vị trí bắt đầu từ giữa của phần tử cha */
    transform: translateX(-50%);

}

.main .manager .log_out i,
.main .manager .log_out span {
    color: var(--white);
    font-size: 16px;

}

/* END MANAGER  */


/* START DASHBOARD  */
.main .dashboard {
    margin-left: 16%;
    width: 84%;
    background-color: var(--white);
    height: 100%;
}

.main .dashboard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 20px 30px;
    border-bottom: 0.1px solid #e1e2e6;
}

.main .dashboard .header .logo {
    display: flex;
    align-items: center;

}

.main .dashboard .header .logo i,
.main .dashboard .header .logo h1 {
    margin-right: 15px;
    font-size: 22px;
    color: var(--color-manager);
}

.main .dashboard .header .modul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .dashboard .header .modul a {
    font-size: 17px;
    font-weight: 450;
}

.main .dashboard .header .modul li:nth-child(1) {
    margin-right: 15px;
}

.main .dashboard .content {
    background-color: var(--grey);
    width: 100%;
    height: calc(100% - 66px);
    padding: 30px 30px;

}

.main .dashboard .content .list-more {
    display: flex;
    justify-content: space-between;
    color: var(--color-manager);
    font-size: 20px;
    margin-bottom: 20px;
}

.main .dashboard .content .list-more .del-more button {
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.main .dashboard .content img {
    width: 100px;
    height: auto;
}

.main .dashboard .content input {
    transform: scale(1.5);
}

.main .dashboard .content .table {
    background-color: var(--white);
}

/* TABLE  */

table,
th,
tr,
td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    color: var(--color-manager);
}

th {
    font-size: 20px;
}

td {
    font-size: 17px;
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Loại bỏ khoảng cách giữa các ô */
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Thêm border ngang cho mỗi hàng ngoại trừ hàng đầu tiên */
tr+tr {
    border-top: 1px solid #ddd;
}

td i {
    font-size: 20px;
}


.image-upload {
    display: none;
}


/* END TABLE  */

/* END DASHBOARD  */
